##### Libraries

# Library Starling
lib_starling_repo="https://github.com/Jerril/Starling-Framework.git"
lib_starling_us="https://github.com/PrimaryFeather/Starling-Framework.git"
lib_starling_name="Starling"

# Library Graphics
lib_graphics_repo="https://github.com/StarlingGraphics/Starling-Extension-Graphics.git"
lib_graphics_name="Graphics"

# Library Particles
lib_particles_repo="https://github.com/PrimaryFeather/Starling-Extension-Particle-System.git"
lib_particles_name="Particles"

# Library Flox
lib_flox_repo="https://github.com/Gamua/Flox-AS3.git"
lib_flox_name="Flox"

# Library GreenSock
lib_gs_repo="https://github.com/greensock/GreenSock-AS3.git"
lib_gs_name="GreenSock"

# Library Feathers
lib_feathers_repo="https://github.com/Jerril/feathers.git"
lib_feathers_us="https://github.com/joshtynjala/feathers.git"
lib_feathers_name="Feathers"

# Library Pixel Mask
lib_pixel_mask_repo="https://github.com/jonathanhart/pixelmask.git"
lib_pixel_mask_name="PixelMask"

##### ANEs

# ANE Network Info
ane_network_info_repo="https://github.com/Jerril/ANE-Network-Info.git"
ane_network_info_us="https://github.com/freshplanet/ANE-Network-Info.git"
ane_network_info_name="ANE-Network-Info"

# ANE Address Book
ane_address_book_name="ANE-Address-Book"
ane_address_book_us="https://github.com/freshplanet/ANE-AddressBook.git"
ane_address_book_repo="https://github.com/Jerril/ANE-AddressBook.git"

# ANE Contact Editor
ane_contact_editor_repo="https://github.com/Jerril/ContactEditor.git"
ane_contact_editor_us="https://github.com/memeller/ContactEditor.git"
ane_contact_editor_name="ANE-Contact-Editor"

# ANE Device Id
ane_device_id_repo="https://github.com/Jerril/ANE-DeviceId.git"
ane_device_id_us="https://github.com/freshplanet/ANE-DeviceId.git"
ane_device_id_name="ANE-Device-Id"

# ANE Push Notifications
ane_push_notifications_repo="https://github.com/Jerril/ANE-Push-Notification.git"
ane_push_notifications_us="https://github.com/freshplanet/ANE-Push-Notification.git"
ane_push_notifications_name="ANE-Push-Notification"

# ANE Can Open Url
ane_can_open_url_repo="https://github.com/Jerril/ANE-Can-Open-URL.git"
ane_can_open_url_us="https://github.com/StickSports/ANE-Can-Open-URL.git"
ane_can_open_url_name="ANE-Can-Open-Url"

# ANE Native Dialogs
ane_native_dialogs_repo="https://github.com/Jerril/NativeDialogs.git"
ane_native_dialogs_us="https://github.com/mateuszmackowiak/NativeDialogs.git"
ane_native_dialogs_name="ANE-Native-Dialogs"

# ANE Google Analytics
ane_google_analytics_repo="https://github.com/Jerril/ANE-Google-Analytics.git"
ane_google_analytics_us="https://github.com/alebianco/ANE-Google-Analytics.git"
ane_google_analytics_name="ANE-Google-Analytics"

# ANE MAT
ane_mat_repo="https://github.com/Jerril/air-plugin.git"
ane_mat_us="https://github.com/MobileAppTracking/air-plugin.git"
ane_mat_name="ANE-Mobile-Add-Tracking"