# Path of the libraries
libs_path="D:/Antoine/1_Dev_Mobile/1_Libraries/"

# Path of the ANEs
anes_path="D:/Antoine/1_Dev_Mobile/2_ANEs/"

# Path of the mobile framework
fk_swc_path="D:/Antoine/1_Dev_Mobile/framework-mobile/src/swc/"

##### SDKs

# Path of the air SDK
air_sdk_path="D:/Antoine/Desktop/mobile-tools/air-sdk-4.0"

# Path of the Android SDK
android_sdk_path="D:/Antoine/Desktop/mobile-tools/android-sdk/sdk/platforms/android-19"

# Path of the Android SDK Platform tools
android_platformtools_path="D:/Antoine/Desktop/mobile-tools/android-sdk/sdk/platform-tools"