# -------------------------------------------
# Copyright © 2006-2015 Ludo Factory - http://www.ludokado.com/
# Framework mobile
# Author  : Maxime Lhoez
# Created : 10 avril 2013
#
# Configuration file for the script "get_android_key_hash.sh"
#
# Default path for the debug certificate used by Flash Builder 4.7 :
# /Applications/Adobe Flash Builder 4.7/eclipse/plugins/com.adobe.flexide.multiplatform.android_4.7.0.349722/resources/debug-certificate-android.p12
# Default password for this certificate :
# debug
#
# -------------------------------------------

DEBUG_CERT_PATH=PATH_TO_THE_DEBUG_CERTIFICATE
DEBUG_CERT_PASSWORD=DEBUG_CERTIFICATE_PASSWORD
PROD_CERT_PATH=PATH_TO_THE_PRODUCTION_CERTIFICATE
PROD_CERT_PASSWORD=PRODUCTION_CERTIFICATE_PASSWORD