# Path of the ANEs
anes_path="/Users/Maxime/1. Dev Mobile/2-ANEs-Test/"

# ANE Network Info
ane_network_info_name="ANE-Network-Info"
ane_network_info_fork="https://github.com/Jerril/ANE-Network-Info.git"
ane_network_info_upstream="https://github.com/freshplanet/ANE-Network-Info.git"

# ANE Address Book
ane_address_book_name="ANE-Address-Book"
ane_address_book_fork="https://github.com/Jerril/ANE-AddressBook.git"
ane_address_book_upstream="https://github.com/freshplanet/ANE-AddressBook.git"

# ANE Contact Editor
# A terminer !!
ane_contact_editor_name="ANE-Contact-Editor"
ane_contact_editor_fork="https://github.com/Jerril/ContactEditor.git"
ane_contact_editor_upstream="https://github.com/memeller/ContactEditor.git"

# ANE Device Id
ane_device_id_name="ANE-Device-Id"
ane_device_id_fork="https://github.com/Jerril/ANE-DeviceId.git"
ane_device_id_upstream="https://github.com/freshplanet/ANE-DeviceId.git"

# ANE Push Notifications
ane_push_notifications_name="ANE-Push-Notification"
ane_push_notifications_fork="https://github.com/Jerril/ANE-Push-Notification.git"
ane_push_notifications_upstream="https://github.com/freshplanet/ANE-Push-Notification.git"

# ANE Can Open Url
ane_can_open_url_name="ANE-Can-Open-Url"
ane_can_open_url_fork="https://github.com/Jerril/ANE-Can-Open-URL.git"
ane_can_open_url_upstream="https://github.com/StickSports/ANE-Can-Open-URL.git"

# ANE MAT
ane_mat_name="ANE-MAT"
ane_mat_fork="https://github.com/Jerril/air-plugin.git"
ane_mat_upstream="https://github.com/MobileAppTracking/air-plugin.git"





# Path of the air SDK
air_sdk_path="/Users/Maxime/Desktop/mobile-tools/air-sdk-4.0"

# Path of the Android SDK
android_sdk_path="/Users/Maxime/Desktop/mobile-tools/android-sdk/sdk/platforms/android-19"

# Path of the Android SDK Platform tools
android_platformtools_path="/Users/Maxime/Desktop/mobile-tools/android-sdk/sdk/platform-tools"


# Path of the libraries
libraries_path="/Users/Maxime/1. Dev Mobile/1. Librairies-Test/"

# Framework
fk_path="/Users/Maxime/1. Dev Mobile/1. Librairies/framework/"
















# Colors
red="\x1B[1;91m" # Red
green="\x1B[1;92m" # Green
cyan="\x1B[0;36m" # Cyan
yel="\x1B[0;33m" # Yellow
nc="\x1B[0m" # No Color