DEBUG_CERT_PATH=/Applications/Adobe Flash Builder 4.7/eclipse/plugins/com.adobe.flexide.multiplatform.android_4.7.0.349722/resources/debug-certificate-android.p12
DEBUG_CERT_PASSWORD=debug
PROD_CERT_PATH=/Users/Maxime/1. Dev Mobile/Pyramides/certificates/cert_android.p12
PROD_CERT_PASSWORD=-LudoMobile2014-